@tailwind base;
@tailwind components;
@tailwind utilities;
 
body{
 max-height: 100%;
 margin:0;
 padding: 0;
}

.homeChat{
  display: flex;
  flex-flow: column;
  /* padding-top: 40px;   */
  max-height: 100vh;
  overflow: hidden;
  max-width:100%;
}

.header{
   max-height: 40px;
   background-color: black;
   position: fixed;
   z-index: 999;
   width: 100%;
   top:0;
   padding-top: 10px;
   padding-bottom: 10px;
   
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}

.nav{
  height: 40px;
  background-color: black;
  position: fixed;
  width: 100%;
  bottom:0;
}

.sidebar{
  display: flex;
  flex-flow: column;
  overflow-y: auto;
  flex: 1;
  /* max-height: calc(100vh - 80px); */
   padding-top:40px;
     /* This is becz we gave header and footeras fixed */
   padding-bottom:40px;
}

/* for below 768px */
.sidebar-visiblity, .nav-visiblity{
  display: none;
}

/* newly added */
.header-visiblity{
  display:block;
  display: flex;
  flex-direction: row;
}
img{
  display: block;
}

.chatContainer{
  display: flex;
  flex-direction: column;
  /* height: calc(100vh - 40px); */
  max-height: 100vh;
  width: 100%;
  padding-top: 40px;
}

/* for belw 768px no header displays */
.chatHeader{
   position: sticky;
   top:0;
   /* width:100%; */
   background-color: #333;
   height:40px;
   /* width: 100%; */
}

.chatMessage{
  flex-grow: 1;
  width: 100%;
  /* min-height: calc(100vh - 240px); */
  /* max-height: calc(100vh - 120px); */
  height: calc(100vh - 80px);
  overflow-y: auto;
}

.chatInput{
  position: sticky;
  /* width: 100%; */
  min-height: 1.5rem;
  max-height: 7.5rem;
  bottom: 0;
  /* height: 40px; */
  /* max-height: 7.5rem */
}

.navItems{
  display: flex;
  justify-content: space-around;
}

.menu-sidebar{
  display: block;
}

@media screen and (min-width:768px)  {

  .menu-sidebar{
    display: none;
  }

  
  .homeChat{
    display:grid;
    /* grid-template-rows: calc(100vh - 40px); */
    /* grid-template-rows: 40px auto; */
    grid-template-areas:
      "nav side chat";
      grid-template-columns: 50px 250px 1fr;
      /* grid-template-rows: 1fr; */
      max-height: 100vh;
      overflow: hidden;
  }

  .nav{
    grid-area: nav;
    position: static;
    width: 100%;
    flex-direction: column;
  }

  .sidebar{
    grid-area: side;
    overflow-y: auto;
    max-height: 100vh;
  }

  .sidebar-visiblity, .nav-visiblity, 
  .header-visiblity{
    display: block;
    display: flex;
    flex-direction: row;
  }

  .chatContainer{
    grid-area: chat;
    max-height: 100vh;
    overflow: hidden;
  }

  .chatHeader{
    top:45px;
    position: sticky;
    width:100%; 
  }

  .chatInput{
    position: sticky;
    bottom:0; 
  }

  .navItems{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
  }


  .chatMessage{
    flex-grow: 1;
    width: 100%;
    /* min-height: calc(100vh - 240px); */
    /* max-height: calc(100vh - 120px); */
    height: calc(100vh - 100px);
    overflow-y: auto;
  }

}

.IconClicked:active{
  background-color: black;
}


